
<div class="col-md-12">
    <div class="alert alert-danger" role="alert">
        <h3>Warning none of these challenges save your progress
            <small>- to save progress copy your code into a text editor</small>
        </h3>
    </div>
</div>

<div class="col-md-6">
    <h2>Python Projects</h2>
    <div class="list-group">
        <a ng-repeat='project in projects' href="{{project.link}}" class="list-group-item"><h4>{{project.name}}<small> - {{project.summary}}</small></h4></a>
    </div>
</div>

<div class="col-md-6">
    <h2>Euler Problem Sets</h2>
    <div class="list-group">
        <a ng-repeat="problem in problems" href="{{problem.link}}" class="list-group-item">{{problem.name}}</a>
    </div>
</div>
